<html>
    <head>
        <title>Midterm App</title>
        <link rel="stylesheet" href ="/static/style.css">
    </head>
    <body>
        <div class="layout">
            <form>
                <label for="username">Username</label><br>
                <input id="username" type="text" name="fname"></input><br>
                <label for="password">Password</label><br>
                <input id="password" type="text" name="password"></input><br>
            </form>
            <br>
            
        </div>
        <div class="layout">
            <button>
                Login
            </button>
            <button>
                Register
            </button>
        </div>
        
    </body>
</html>